# TXADMIN
TX_ADMIN_BASE_URL=    # URL de tu instancia de TXAdmin (ej. http://XXX.XXX.XXX.XXX:40120 o http://localhost:40120)
TX_ADMIN_USERNAME=    # Nombre de usuario de TXAdmin (se recomienda usuario con permisos limitados a ban)
TX_ADMIN_PASSWORD=    # Contraseña de TXAdmin

# RUTAS
ERROR_SCREENSHOTS_PATH=./data/errors
DATA_STORAGE_PATH=./data/storage

# ENTORNO
NODE_ENV=production   # development | production

# DISCORD
DISCORD_BOT_TOKEN=    # Token del bot de Discord
allowedChannelsCommand=1315766185740206080 # ID del canal de Discord donde el bot escuchará los comandos